useDynLib(mvabund)

export(RcppVersion,
       as.mvabund,
       anova.manylm, 
       anova.manyglm, 
       boxplot.mvabund, 
       boxplot.mvformula,
       best.r.sq,
       deviance.manylm,
       extend.x.formula, 
       formulaUnimva, 
       is.mvabund,
       is.mvformula,
       mvabund, 
       mvformula,
       manylm, 
       manyglm, 
       predict.manylm,
       predict.manyglm,
       print.manyglm,
       print.anova.manylm, 
       print.summary.manylm, 
       print.anova.manyglm, 
       print.summary.manyglm, 
       print.mvformula,
       plotMvaFactor, 
       plotFormulafeature, 
       plot.mvabund,
       plot.manylm,
       plot.manyglm,
       plot.mvformula,
       ridgeParamEst,
       residuals.manyglm, 
       summary.manylm,
       summary.manyglm,
       shiftpoints,
       unabund       
       )

exportClasses(mvabund, mvformula)

exportMethods(meanvar.plot)

import(Rcpp, MASS, graphics, methods)
importFrom(stats,dpois, ppois, qpois, rpois)
importFrom(stats,dbinom, pbinom, qbinom, rbinom)
importFrom(stats,dnbinom, pnbinom, qnbinom, rnbinom)

S3method(extractAIC, manyglm)
S3method(logLik, manyglm)
S3method(logLik, manylm)
